@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'digikala';
  src: url('../public/fonts/digikala.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 'swap' ensures that text is rendered using fallback fonts until custom font is loaded */
}

@font-face {
  font-family: 'bkoodak';
  src: url('../public/fonts/B-Koodak/BKoodak.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 'swap' ensures that text is rendered using fallback fonts until custom font is loaded */
}

p {
    font-family: 'MyFont'; 
}

body {
    font-family: 'digikala' sans-serif;
    scroll-behavior: smooth;
}

.back2 {
  height: 120%;
  width: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: -100px;
  background: url(../public/logos/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%) blur(2px);
  -webkit-filter: brightness(50%) blur(2px);
}

.digikala {
  font-family: 'digikala';
}

.bkoodak {
  font-family: 'bkoodak';
}

/* colors */
.bg-243447 {
  background-color: #243447;
}

.bg-243447:hover {
  background-color: #141d26;
}

.bg-f0f0f0 {
  background-color: #f0f0f0;
}

.bg-00b200 {
  background-color: #00b200;
}

.bg-4caf50 {
  background-color: #4caf50;
}

.bg-ffc107 {
  background-color: #ffc107;
}

.bg-ffd600 {
  background-color: #ffd600;
}

.bg-f44336 {
  background-color: #f44336;
}

.bg-ff1744 {
  background-color: #ff1744;
}

.bg-2196f3 {
  background-color: #2196f3;
}

.bg-03a9f4 {
  background-color: #03a9f4;
}

.bg-9e9e9e {
  background-color: #9e9e9e;
}

.bg-e0e0e0 {
  background-color: #e0e0e0;
}

.bg-telegram {
  color: #229ED9;
}

.bg-whatsapp {
  color: #25D366;
}


/* icon */
#telegram-icon:hover {
  color: #229ED9;
}

#whatsapp-icon:hover {
  color: #25D366;
}


/* gradient */
.bg-gradient {
  background: rgb(74,222,128);
  background: linear-gradient(90deg, rgba(74,222,128,1) 20%, rgba(56,189,248,1) 100%);
}

.gradient-background {
  background: linear-gradient(360deg,#38bdf8,#4ade80);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-2 {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.bg-gradient-3 {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.bg-gradient-4 {
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
}

.bg-gradient-5 {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}

.bg-gradient-6 {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
/*  */

#sidebar {
    scale: 0.4;
    width: 60px;
    height: 45px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #sidebar span {
    display: block;
    position: absolute;
    height: 4px;
    width: 60px;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #sidebar span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #sidebar span:nth-child(2) {
    top: 13px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #sidebar span:nth-child(3) {
    top: 26px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #sidebar.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  #sidebar.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #sidebar.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }

  .background-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


.list ul {
  position: relative;
}
.list ul li {
  border-right: 2px solid #f50057;
  transition: 0.5s;
}

.list ul li:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: right;
  transition: 1s;
  right: 0;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
